$font: "Demons";
$font2: "Chavier";
$font3: "Grave";
$font4: "Merry";
$font5: "Altron";

@font-face {
  font-family: "Demons";
  src: url("fonts/OvermindDemons-GO10y.ttf");
}

@font-face {
  font-family: "Chavier";
  src: url("fonts/ChavlerExtruderightDemo-lxM9d.otf");
}

@font-face {
  font-family: "Grave";
  src: url("fonts/Gravedigger-8BOZ.ttf");
}

@font-face {
  font-family: "Merry";
  src: url("fonts/MerrysPersonalUse-KVM77.ttf");
}

@font-face {
  font-family: "Altron";
  src: url("fonts/AltronedtrialRegular-E4pYl.otf");
}

h3 {
  font-family: $font5;
  padding: 2%;
  color:rgb(161, 6, 109);
  text-shadow: 4px 2px rgb(69, 55, 156);
  font-size: 34px;
  background-color: black;
  border: 2px solid rgb(214, 128, 96);
}

h2 {
  font-family: $font2;
}

h1 {
  display: inline-block;
  font-family: $font3;
  color:rgb(253, 198, 126);
  text-shadow: 1px 3px rgb(110, 71, 39);
  padding: 1%;
  box-shadow: 3px 0px red;
  border-radius: 8px;
  border: 3px solid yellowgreen;
  background-image: linear-gradient(to left ,rgb(253, 0, 63), rgb(63, 0, 60), teal);
}

p {
  font-family: $font3;
  color:rgb(151, 138, 120);
  text-shadow: 1px 3px rgb(126, 72, 27);
  padding: 1%;
  box-shadow: 3px 0px red;
  border-radius: 4px;
  border: 3px solid rgb(97, 50, 205);
  background-image: linear-gradient(rgb(32, 29, 30), rgb(63, 0, 60), teal);
}

body {
  background-color: rgba(31, 22, 22, 0.555);
}